.tab-content {
	border-top: 1px solid #c0c0c2;
	clear: both;
	height: 100%;
}

.vertical-tabs .ui-tabs-nav[style="display: none;"] + .tab-content {
	padding-left:0;
}

.ss-tabset.tabset.tab-versioned .tab-content .ss-tabset {
	padding:0;
}

.ui-tabs .vertical-tabs {
	position:relative;
}

.tab-versioned.ui-tabs > .ui-tabs-nav {
	margin-top: 0;
	float: right;
	border-bottom:0;
}

.tab-versioned.ui-tabs > .ui-tabs-nav .tabset {
	border-top: 0;
	margin:0;
	border-radius: 0;
	line-height: 39px;
	display: inline-block;
	vertical-align: middle;
	float: left;
	font-weight: bold;
	color: #444;
	line-height: 40px;
	padding: 0;
}


.cms-content-fields .tab-versioned .ui-tabs-nav {
	border-bottom: none;
}


.ui-tabs .vertical-tabs {
	height: 100%;
}


.vertical-tabs > .ui-tabs-nav {
	background:#eceff1;
	border:0;
	border-right:1px solid #c0c0c2;
	-webkit-box-shadow:rgba(248,248,248,0.9) -1px 0 0 inset;
	-moz-box-shadow:rgba(248,248,248,0.9) -1px 0 0 inset;
	box-shadow:rgba(248,248,248,0.9) -1px 0 0 inset;
	float:left;
	margin:0;
	padding:0;
	position:absolute;
		top:0;
		left:0;
		bottom:0;
	width:240px;
}

.vertical-tabs > .ui-tabs-nav > li {
	border: 0;
	display:block;
	float:none;
	margin:0 -1px 0 0;
	border-radius: 0;
}

.vertical-tabs > .ui-tabs-nav > li.last {
	margin-right:-1px;
}


.vertical-tabs > .ui-tabs-nav > .ui-state-default {
	background: transparent;
}

.vertical-tabs > .ui-tabs-nav > .ui-state-active {
	border-right-color:#eceff1 !important;
	color: #fff;
	background: #338DC1;
}


.ui-tabs .vertical-tabs > .ui-tabs-nav > li a {
	background: transparent;
	border: 0;
	border-bottom: 1px solid  #c0c0c2;
	display: block;
	outline: none;
	font-weight: normal;
	line-height: 1.7em;
	font-size: 0.8em;
	text-transform: uppercase;
	padding: 5px 12px;

}


.ui-tabs .vertical-tabs > .ui-tabs-nav > .ui-state-active a {
	color: #fff;
	text-shadow: none;
	margin-left: 0;
	margin-right: 0;
	border-bottom: 0;
}

.vertical-tabs > .tab-content {
	border:0;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	clear:none;
	width:100%;
	padding-left:240px;
}

.htmleditorfield.readonly .middleColumn {
	margin-left:184px;
	clear:none;
}

.htmleditorfield.readonly .typography.readonly {
	background:#fff;
	border:1px solid #b3b3b3;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding:15px;
}


.cms-content-fields > fieldset {
	height: 94%;
	height: calc(100% - 40px);
}

.tabset.tab-versioned {
	height: 100%;
}
.ss-tabset.tabset.tab-versioned  {
	padding:0;
	background: #e6eaed;
	border-top: 1px solid #b3b3b3; /* needs for when success/error message appears */
	margin-top: -1px;
	border-radius: 0;
}

.ss-tabset.tabset.tab-versioned .tab-content {
	background: #e6eaed;
}

[style="display: none;"] + .tab-content {
	border-top: 0;
}


.history-state {
	font-size: 0.9em;
	padding-left:20px;
	float: right;
}

.history-author {
	display:block;
}
